.bloco {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    height: 10rem; 
    width: 70%;
    border-radius: 1rem;
    box-shadow: black 0.1rem 0.1rem 0.4rem;
    margin: 1rem; 
    gap: 10px; 
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #264211;
    width: auto; 
    max-width: 70%; 
}

.textp {
    font-size: 1rem;
    width: auto; 
    max-width: 90%; 
    text-align: justify;
}

.imagembloco {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.elementos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%; 
}

@media (max-width: 1024px) { 
    .bloco {
        flex-direction: column;
        width: 70%;
        padding: 0.8rem;
        height: auto;
        margin: 0;
    }

    .title {
        font-size: 1.3rem;
        max-width: 70%;
    }

    .textp {
        font-size: 0.9rem;
        max-width: 70%;
    }

    .imagembloco {
        width: 8rem;
        height: 8rem;
    }

    .elementos {
        height: auto;
        margin-top: 10px;
    }
}

@media (max-width: 768px) { 
    .bloco {
        flex-direction: column;
        width: 80%;
        padding: 0.8rem;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
    }

    .title {
        font-size: 1.2rem;
        max-width: 70%;
    }

    .textp {
        font-size: 0.9rem;
        max-width: 80%;
    }

    .imagembloco {
        width: 7rem;
        height: 7rem;
    }

    .elementos {
        height: auto;
        margin-top: 10px;
    }
}

