.footer {
    height: 5rem;
    background-color: #264211;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-size: 1rem;
    display: flex;
    font-weight: bold;
}

